In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
Kepler_dataset = pd.read_csv('Original Dataset\Kepler_dataset.csv')
TESS_dataset=pd.read_csv('Original Dataset\TESS_dataset.csv')

In [4]:
Kepler_dataset.head()

,koi_disposition,koi_pdisposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_time0bk,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_insol,koi_model_snr,koi_steff,koi_slogg,koi_srad
0,CONFIRMED,CANDIDATE,0,0,0,0,9.488036,170.538750,0.146,2.95750,616.0,2.26,793.0,93.59,35.8,5455.0,4.467,0.927
1,CONFIRMED,CANDIDATE,0,0,0,0,54.418383,162.513840,0.586,4.50700,875.0,2.83,443.0,9.11,25.8,5455.0,4.467,0.927
2,CANDIDATE,CANDIDATE,0,0,0,0,19.899140,175.850252,0.969,1.78220,10800.0,14.60,638.0,39.30,76.3,5853.0,4.544,0.868
3,FALSE POSITIVE,FALSE POSITIVE,0,1,0,0,1.736952,170.307565,1.276,2.40641,8080.0,33.46,1395.0,891.96,505.6,5805.0,4.564,0.791
4,CONFIRMED,CANDIDATE,0,0,0,0,2.525592,171.595550,0.701,1.65450,603.0,2.75,1406.0,926.16,40.9,6031.0,4.438,1.046

In [5]:
TESS_dataset.head()

,tfopwg_disp,pl_tranmid,pl_orbper,pl_trandurh,pl_trandep,pl_rade,pl_insol,pl_eqt,st_dist,st_teff,st_logg,st_rad
0,FP,2459229.630,2.171348,2.01722,656.886099,5.818163,22601.94858,3127.204052,485.735,10249.0,4.19,2.16986
1,PC,2459987.949,1.931646,3.16600,1286.000000,11.215400,44464.50000,4045.000000,295.862,7070.0,4.03,2.01000
2,FP,2459224.688,1.867557,1.40800,1500.000000,23.752900,2860.61000,2037.000000,943.109,8924.0,NaN,5.73000
3,FP,2458493.396,2.743230,3.16700,383.410000,NaN,1177.36000,1631.000000,7728.170,5388.5,4.15,NaN
4,FP,2459987.047,3.573014,3.37000,755.000000,11.311300,54679.30000,4260.000000,356.437,9219.0,4.14,2.15000

In [6]:
TESS_dataset['tfopwg_disp'].unique()

array(['FP', 'PC', 'KP', 'APC', 'FA', 'CP'], dtype=object)

In [8]:
TESS_dataset[(TESS_dataset['tfopwg_disp']=='FP')|(TESS_dataset['tfopwg_disp']=='FA')].shape

(1295, 12)

In [10]:
TESS_dataset[(TESS_dataset['tfopwg_disp']=='KP')|(TESS_dataset['tfopwg_disp']=='CP')].shape

(1267, 12)

In [11]:
Kepler_dataset['koi_pdisposition'].unique()

array(['CANDIDATE', 'FALSE POSITIVE'], dtype=object)

In [15]:
Kepler_dataset.groupby('koi_pdisposition').count()

,koi_disposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_time0bk,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_insol,koi_model_snr,koi_steff,koi_slogg,koi_srad
koi_pdisposition,,,,,,,,,,,,,,,,,
CANDIDATE,4717,4717,4717,4717,4717,4717,4717,4612,4717,4612,4612,4612,4615,4612,4612,4612,4612
FALSE POSITIVE,4847,4847,4847,4847,4847,4847,4847,4589,4847,4589,4589,4589,4628,4589,4589,4589,4589

In [18]:
Kepler_dataset=Kepler_dataset.drop(columns='koi_disposition',axis=0)

In [19]:
Kepler_dataset.head()

,koi_pdisposition,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period,koi_time0bk,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_insol,koi_model_snr,koi_steff,koi_slogg,koi_srad
0,CANDIDATE,0,0,0,0,9.488036,170.538750,0.146,2.95750,616.0,2.26,793.0,93.59,35.8,5455.0,4.467,0.927
1,CANDIDATE,0,0,0,0,54.418383,162.513840,0.586,4.50700,875.0,2.83,443.0,9.11,25.8,5455.0,4.467,0.927
2,CANDIDATE,0,0,0,0,19.899140,175.850252,0.969,1.78220,10800.0,14.60,638.0,39.30,76.3,5853.0,4.544,0.868
3,FALSE POSITIVE,0,1,0,0,1.736952,170.307565,1.276,2.40641,8080.0,33.46,1395.0,891.96,505.6,5805.0,4.564,0.791
4,CANDIDATE,0,0,0,0,2.525592,171.595550,0.701,1.65450,603.0,2.75,1406.0,926.16,40.9,6031.0,4.438,1.046

In [41]:
Kepler_dataset=Kepler_dataset.dropna(axis=0,how='any')

In [47]:
TESS_dataset=TESS_dataset.dropna(axis=0,how='any')

In [44]:
Kepler_dataset.shape

(9201, 17)

In [42]:
Kepler_dataset.isna().sum()

koi_pdisposition    0
koi_fpflag_nt       0
koi_fpflag_ss       0
koi_fpflag_co       0
koi_fpflag_ec       0
koi_period          0
koi_time0bk         0
koi_impact          0
koi_duration        0
koi_depth           0
koi_prad            0
koi_teq             0
koi_insol           0
koi_model_snr       0
koi_steff           0
koi_slogg           0
koi_srad            0
dtype: int64

In [48]:
TESS_dataset.isna().sum()

tfopwg_disp    0
pl_tranmid     0
pl_orbper      0
pl_trandurh    0
pl_trandep     0
pl_rade        0
pl_insol       0
pl_eqt         0
st_dist        0
st_teff        0
st_logg        0
st_rad         0
dtype: int64

In [49]:
TESS_dataset.shape

(6592, 12)

In [50]:
TESS_dataset[(TESS_dataset['tfopwg_disp']=='FP')|(TESS_dataset['tfopwg_disp']=='FA')].shape

(1008, 12)

In [51]:
TESS_dataset[(TESS_dataset['tfopwg_disp']=='KP')|(TESS_dataset['tfopwg_disp']=='CP')].shape

(1223, 12)

In [52]:



# Step 1: Remove rows with 'APC'
TESS_dataset_1 = TESS_dataset[TESS_dataset['tfopwg_disp'] != 'APC']

# Step 2: Replace values
replacement_map = {
    'FP': 'FALSE POSITIVE',
    'FA': 'FALSE POSITIVE', 
    'KP': 'CANDIDATE',
    'CP': 'CANDIDATE',
    'PC': 'CANDIDATE'  # Assuming PC should also be candidate
}
TESS_dataset_CFP=TESS_dataset_1
TESS_dataset_CFP['tfopwg_disp'] = TESS_dataset_1['tfopwg_disp'].replace(replacement_map)

C:\Users\purva\AppData\Local\Temp\ipykernel_7984\1335927842.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TESS_dataset_CFP['tfopwg_disp'] = TESS_dataset_1['tfopwg_disp'].replace(replacement_map)

In [53]:
TESS_dataset_CFP['tfopwg_disp'].unique()

array(['FALSE POSITIVE', 'CANDIDATE'], dtype=object)

In [54]:
TESS_dataset_CFP[TESS_dataset_CFP['tfopwg_disp']=='FALSE POSITIVE'].shape

(1008, 12)

In [55]:
Kepler_dataset_common=Kepler_dataset.filter(['koi_pdisposition','koi_period','koi_duration','koi_depth','koi_prad','koi_insol','koi_teq','koi_steff','koi_slogg','koi_srad'])
TESS_dataset_common=TESS_dataset_CFP.filter(['tfopwg_disp','pl_orbper','pl_trandurh','pl_trandep','pl_rade','pl_insol','pl_eqt','st_teff','st_logg','st_rad'])

In [56]:
Kepler_dataset_common.head()

,koi_pdisposition,koi_period,koi_duration,koi_depth,koi_prad,koi_insol,koi_teq,koi_steff,koi_slogg,koi_srad
0,CANDIDATE,9.488036,2.95750,616.0,2.26,93.59,793.0,5455.0,4.467,0.927
1,CANDIDATE,54.418383,4.50700,875.0,2.83,9.11,443.0,5455.0,4.467,0.927
2,CANDIDATE,19.899140,1.78220,10800.0,14.60,39.30,638.0,5853.0,4.544,0.868
3,FALSE POSITIVE,1.736952,2.40641,8080.0,33.46,891.96,1395.0,5805.0,4.564,0.791
4,CANDIDATE,2.525592,1.65450,603.0,2.75,926.16,1406.0,6031.0,4.438,1.046

In [57]:
TESS_dataset_common.head()

,tfopwg_disp,pl_orbper,pl_trandurh,pl_trandep,pl_rade,pl_insol,pl_eqt,st_teff,st_logg,st_rad
0,FALSE POSITIVE,2.171348,2.017220,656.886099,5.818163,22601.948580,3127.204052,10249.0,4.19000,2.169860
1,CANDIDATE,1.931646,3.166000,1286.000000,11.215400,44464.500000,4045.000000,7070.0,4.03000,2.010000
4,FALSE POSITIVE,3.573014,3.370000,755.000000,11.311300,54679.300000,4260.000000,9219.0,4.14000,2.150000
7,CANDIDATE,6.998921,3.953000,2840.000000,14.775200,448.744000,1282.000000,6596.0,3.71000,2.700000
10,CANDIDATE,1.430370,1.616599,18960.712290,13.187450,1281.240825,1525.904809,5600.0,4.48851,0.890774

In [58]:
# Create a dictionary mapping old column names to new names
column_mapping = {
    'koi_pdisposition':'Classification',
    'koi_period': 'Orbital period',
    'koi_duration': 'Transit Duration', 
    'koi_depth': 'Transit Depth',
    'koi_prad': 'Planet radius value',
    'koi_insol': 'Planet Insolation Value',
    'koi_teq': 'Planetary Equilibrium Temp.',
    'koi_steff': 'Stellar Effective Temp.',
    'koi_slogg': 'Stellar Surface Gravity',
    'koi_srad': 'Stellar Radius'
}

# Apply the renaming
Kepler_dataset_common = Kepler_dataset_common.rename(columns=column_mapping)

# Verify the changes
print(Kepler_dataset_common.columns.tolist())

['Classification', 'Orbital period', 'Transit Duration', 'Transit Depth', 'Planet radius value', 'Planet Insolation Value', 'Planetary Equilibrium Temp.', 'Stellar Effective Temp.', 'Stellar Surface Gravity', 'Stellar Radius']

In [60]:
# Create a dictionary mapping old column names to new names
column_mapping = {
    'tfopwg_disp':'Classification',
    'pl_orbper': 'Orbital period',
    'pl_trandurh': 'Transit Duration', 
    'pl_trandep': 'Transit Depth',
    'pl_rade': 'Planet radius value',
    'pl_insol': 'Planet Insolation Value',
    'pl_eqt': 'Planetary Equilibrium Temp.',
    'st_teff': 'Stellar Effective Temp.',
    'st_logg': 'Stellar Surface Gravity',
    'st_rad': 'Stellar Radius'
}

# Apply the renaming
TESS_dataset_common = TESS_dataset_common.rename(columns=column_mapping)

# Verify the changes
print(TESS_dataset_common.columns.tolist())

['Classification', 'Orbital period', 'Transit Duration', 'Transit Depth', 'Planet radius value', 'Planet Insolation Value', 'Planetary Equilibrium Temp.', 'Stellar Effective Temp.', 'Stellar Surface Gravity', 'Stellar Radius']

In [61]:
Kepler_dataset_common.columns.tolist()==TESS_dataset_common.columns.tolist()

True

In [62]:
Kepler_dataset_common.head()

,Classification,Orbital period,Transit Duration,Transit Depth,Planet radius value,Planet Insolation Value,Planetary Equilibrium Temp.,Stellar Effective Temp.,Stellar Surface Gravity,Stellar Radius
0,CANDIDATE,9.488036,2.95750,616.0,2.26,93.59,793.0,5455.0,4.467,0.927
1,CANDIDATE,54.418383,4.50700,875.0,2.83,9.11,443.0,5455.0,4.467,0.927
2,CANDIDATE,19.899140,1.78220,10800.0,14.60,39.30,638.0,5853.0,4.544,0.868
3,FALSE POSITIVE,1.736952,2.40641,8080.0,33.46,891.96,1395.0,5805.0,4.564,0.791
4,CANDIDATE,2.525592,1.65450,603.0,2.75,926.16,1406.0,6031.0,4.438,1.046

In [63]:
TESS_dataset_common.head()

,Classification,Orbital period,Transit Duration,Transit Depth,Planet radius value,Planet Insolation Value,Planetary Equilibrium Temp.,Stellar Effective Temp.,Stellar Surface Gravity,Stellar Radius
0,FALSE POSITIVE,2.171348,2.017220,656.886099,5.818163,22601.948580,3127.204052,10249.0,4.19000,2.169860
1,CANDIDATE,1.931646,3.166000,1286.000000,11.215400,44464.500000,4045.000000,7070.0,4.03000,2.010000
4,FALSE POSITIVE,3.573014,3.370000,755.000000,11.311300,54679.300000,4260.000000,9219.0,4.14000,2.150000
7,CANDIDATE,6.998921,3.953000,2840.000000,14.775200,448.744000,1282.000000,6596.0,3.71000,2.700000
10,CANDIDATE,1.430370,1.616599,18960.712290,13.187450,1281.240825,1525.904809,5600.0,4.48851,0.890774

In [64]:
combined_dataset = pd.concat([Kepler_dataset_common, TESS_dataset_common], 
                            ignore_index=True,  # Reset index
                            sort=False)

In [65]:
combined_dataset.head()

,Classification,Orbital period,Transit Duration,Transit Depth,Planet radius value,Planet Insolation Value,Planetary Equilibrium Temp.,Stellar Effective Temp.,Stellar Surface Gravity,Stellar Radius
0,CANDIDATE,9.488036,2.95750,616.0,2.26,93.59,793.0,5455.0,4.467,0.927
1,CANDIDATE,54.418383,4.50700,875.0,2.83,9.11,443.0,5455.0,4.467,0.927
2,CANDIDATE,19.899140,1.78220,10800.0,14.60,39.30,638.0,5853.0,4.544,0.868
3,FALSE POSITIVE,1.736952,2.40641,8080.0,33.46,891.96,1395.0,5805.0,4.564,0.791
4,CANDIDATE,2.525592,1.65450,603.0,2.75,926.16,1406.0,6031.0,4.438,1.046

In [66]:
Kepler_dataset_common.shape

(9201, 10)

In [67]:
TESS_dataset_common.shape

(6237, 10)

In [68]:
combined_dataset.shape

(15438, 10)

In [71]:
Kepler_dataset_common.to_csv('kepler_dataset_refined.csv',index=False)
TESS_dataset_common.to_csv('TESS_dataset_refined.csv',index=False)
combined_dataset.to_csv('kepler_tess_combined.csv',index=False)

In [72]:
load=pd.read_csv('kepler_dataset_refined.csv')
load.head()

,Classification,Orbital period,Transit Duration,Transit Depth,Planet radius value,Planet Insolation Value,Planetary Equilibrium Temp.,Stellar Effective Temp.,Stellar Surface Gravity,Stellar Radius
0,CANDIDATE,9.488036,2.95750,616.0,2.26,93.59,793.0,5455.0,4.467,0.927
1,CANDIDATE,54.418383,4.50700,875.0,2.83,9.11,443.0,5455.0,4.467,0.927
2,CANDIDATE,19.899140,1.78220,10800.0,14.60,39.30,638.0,5853.0,4.544,0.868
3,FALSE POSITIVE,1.736952,2.40641,8080.0,33.46,891.96,1395.0,5805.0,4.564,0.791
4,CANDIDATE,2.525592,1.65450,603.0,2.75,926.16,1406.0,6031.0,4.438,1.046